target/
build/
.gradle/
**/.gradle/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.jar
autoconfiguration-optimizer-core/autoconfiguration-optimizer.properties
*.bak
